.App {
    background-color: #063F20;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container > img {
    margin-bottom: -60px;
}


.login-form input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.btnLogin {
    margin: 10px;
    padding: 10px;
    width: 150px;
    background-color: #063F20;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnLogin:hover {
    background-color: #063F20;
}


  