  #map {
    height: 100%;
    width: 100%;
  }

  .map-container {
      height: 500px;
      width: 100%;
    }
  

  .leaflet-geosearch .search-button:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  

  
  